name: CI

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Decode apiKey.properties
        env:
         SERVER_API_KEY: ${{ secrets.SERVER_API_KEY }}
        run: echo $SERVER_API_KEY > ./app/apiKey.properties

      - name: Decode maps.properties
        env:
          MAPS_API_KEY: ${{ secrets.MAPS_API_KEY }}
        run: echo $MAPS_API_KEY > ./app/maps.properties

      - name: Build
        run: |
          chmod +x ./gradlew
          ./gradlew build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug.apk
          path: app/build/outputs/apk/debug/app-debug.apk
